---
extension: css
layout: nil
filter: sass
sass_options:
  syntax: :scss
---
$blue: #5A86E4;
$light_blue: #CBE2FF;
$gray: #ADADAD;
$light_yellow: #FEFFCB;

@mixin round_corners_custom($top, $right, $bottom, $left) {
	-moz-border-radius: $top $right $bottom $left;
	-webkit-border-radius: $top $right $bottom $left;
}

@mixin round_corners($radius) {
	@include round_corners_custom($radius, $radius, $radius, $radius);
}

body {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	background-color: white; 
	margin: 4em 15em 4em 4em;
	line-height: 1.35em;
}

a {
	color: $blue;
	text-decoration: none;
	&:hover { text-decoration: underline; }
	&.external {
		background: url(../images/external.png) right 50% no-repeat;
		padding-right: 12px;
	}
}

code, pre, .file-list {
	font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

table {
	@include round_corners(5px); 
	border: 2px solid $gray;
	padding: .5em;
	width: 100%;
	
	td, th {
		padding: .3em .5em;
		vertical-align: top;
	}
	
	th {
		text-align: left;
	}
	
	tbody > tr:hover {
		background: $light_blue;
		@include round_corners(3px);
	}
	
	tbody > tr > td:first-child {
		white-space: nowrap;
	}
}

#clear {
	clear: both;
}

#title {
	h1 {
		font-weight: bold;
		font-size: 4em;
		color: $gray;
		margin: 0;
		line-height: 100%;
		
		#whatsnew {
			display: inline;
			
			a {
				font-size: .5em;
				color: red;
			}
		}
	}
	
	h2 {
		font-size: 1.45em;
	}
}

.badge {
	@include round_corners(3px); 
	font-size: 10px;
	font-weight: normal;
	padding: 4px 3px 2px;
	line-height: 100%;
}

#content {
	margin-top: 5em;
	
	.date {
		@extend .badge;
		background: $blue;
		color: #fff;
		margin: 3px 5px 0 0;
		float: left;
	}
	
	.version {
		@extend .badge;
		background: $gray;
		color: white;
	}
	
	h3 {
		margin: 1.5em 0 .5em 0;
		font-size: 1.45em;
	}
	
	h2 > a[name] {
		color: black;
		text-decoration: none;
	}
	
	.sponsor {
		@include round_corners(5px);
		padding: .1em 1em;
		background: $light_yellow;
	}
	
	li > p:only-child {
		margin: 0;
	}
}

.float {
	position: fixed;
	top: .5em;
	right: .5em;
	width: 10em;
	padding: 1em;
	text-align: right;
	line-height: 1.1em;
	
	a {
		display: block;
	}
}

#meta {
	@extend .float;
	z-index: 2;
	font-weight: bold;
	padding-top: 7em;
}

#footer {
	@extend .float;
	@include round_corners(3px);

	background: $light_blue;
	bottom: 1em;
	padding-top: 14em;
	z-index: 1;
	
	iframe {
		margin-top: 1em;
	}
}

#blurb {
	@extend .float;
	text-align: left;
	z-index: 2;
	a { display: inline; }
}

#copyright {
	color: $gray;
	font-size: 1.2em;
	margin-top: 3em;
}

#theme-example {
	@include round_corners(5px);
	padding: 1em 2em;
	background-color: $gray;
}

#news {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}