<div id="api">
	{% if about %}
		<section id="about">
			<h3>About</h3>
			{{ about }}
		</section>
	{% endif %}

	{% if examples %}
		<section id="examples">
			<h3>Examples</h3>
			{{ examples }}
		</section>
	{% endif %}

	{% if options %}
		<section id="options">
			<h3>Options</h3>
			{{ options }}
		</section>
	{% endif %}

	{% if events %}
		<section id="events">
			<h3>Events</h3>
			{{ events }}
		</section>
	{% endif %}

	{% if methods %}
		<section id="methods">
			<h3>Methods</h3>
			{{ methods }}
		</section>
	{% endif %}
</div>

