<nav id="side-nav">
	<section class="api">
		<h3>Basics</h3>
		<ul>
			<li><a href="/manual/installation.html">Installation</a></li>
			<li><a href="/manual/settings.html">Settings</a></li>
			<li><a href="/manual/custom_brushes.html">Custom Brushes</a></li>
		</ul>

		<h3>Themes</h3>
		<ul>
			{% for item in site.pages %}
				{% if item.layout == 'theme' %}
					<li id="nav-{{ item.id }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		<h3>Brushes</h3>
		<ul>
			{% for item in site.pages %}
				{% if item.layout == 'brush' %}
					<li id="nav-{{ item.id }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
</nav>

&nbsp;
