---
title: Download
encoding: utf-8
filter:
  - erb
  - maruku
---

The latest SyntaxHighlighter version is __<%= sh_version %>__. 
__<a href="download.php?sh_current" class="download">Click here to download</a>__. 
If you don't have a place to upload, you can use a free <a href="../hosting.html">hosted version</a>. 

<%= render(:partial => "/SyntaxHighlighter/partials/license") %>

### Previous Versions

* [2.0.278](download.php?sh_2.0.278)
* [2.0.287](download.php?sh_2.0.287)
* [2.0.296](download.php?sh_2.0.296)
* [2.0.320](download.php?sh_2.0.320)
* [2.1.364](download.php?sh_2.1.364)
* [2.1.382](download.php?sh_2.1.382)
